body{background-color:#EBEBEB; 
	font-family: 'Yantramanav', sans-serif; }
ul li { list-style: none;
 }
 a{text-decoration: none;}
.head-nav{
	float: right;
}
.head-nav ul li{
 	text-align: right;
 	display: inline-block;
 	padding: 10px;
 }
.level-split{
}
.sidebar{
	height: 100%;
	position: fixed;
	
	}
.w3-panel{
	padding-right: 0px;}
.w3-container{
	margin-left: 205px;}
.welcome{
	margin-left: 50px;}
.logo{font-size: 50px;}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: black;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.right-bar{
	margin-right:100px; 
	background-color: black;
	color: white;
	padding: 10px;
	right: 0}
.on-surface .product a{vertical-align: bottom;}
.product img{
	padding: 4px;
	filter:grayscale(100%)}
.product img:hover {filter:grayscale(0%)}
.product-title{
	margin-left: 30px;
font-weight: 700}
.on-surface{
/*background-color: #F9E8E0;
	height: 300px;*/
	overflow: scroll;
	padding-bottom: 0;
	padding-left: 20px;
	background-color:white;
	color: #1a1a1a;
	line-height: 2em;
	}

.grey-area{
	/*height: 300px;
	overflow: scroll;*/
	padding: 10px;
	color: #333333;
	background-color: #cccccc;
}
.below-surface{
/*	height: 300px;
	overflow: scroll;*/
	margin-top: -15px;
	background-color: #1a1a1a;
	color: #e6e6e6;}
.on-data{ 
	font-weight: 700; }
.no-answer{color: white;
background-color: white;
border: solid 2px red;}
.on-answer{
	border:solid 2px;
	padding: 2px;
}
.pay{color: red;
	font-weight: bold; 
	font-size: 20px;
}

.w3-button1{background-color:white; }
.w3-button2{background-color: #cccccc}
.w3-button3{
	background-color: #1a1a1a
	
}